
<div class="jumbotron text-center">
  <h1>Departemen Kepastian</h1>
  <p><i>Tentang kami</i></p>
  <p><b>"kami tidak bertentang"</b></p>
</div>

<div class="container-fluid text-center" style="background-color:#474e5d;color: #ffffff;height:100%;padding-top: 40px;padding-bottom: 100px">
    <div class="row">
      <div class="col-sm-6">
        <h3>Article</h3>
        <p><i>Memberi pencerahan terhadap mereka korban patah hati atau konspirasi. yang sebenarnya tidak terlalu penting. jikalau penasaran klik saja, jangan ngeluh!</i></p>
        <button type="button" class="btn btn-outline-primary">
      <a href="/articles">Baca artikel...</a>
      </button>
      </div>
      <div class="col-sm-6">
        <h3>Contact Us</h3>
        <p><i>Hubungi kami jika perlu, dan tanyakanlah yang penting-penting saja. jangan yang aneh-aneh atau sampai curghat segala macam. kita ada karna kita menjawab pertanyaan-pertanyaan seperti request dan lain lain. isikan saja nama, email, dan pesan. ingat, jangan curhat. terima kasih</i></p>
        <button type="button" class="btn btn-outline-primary">
      <a href="/contacts" alt="jangan curhat!">Hubungi kami ...</a>
      </button>
      </div>
    </div>
</div>


